@use "./styles/partials/normalize" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/mixins" as *;

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @include desktop {
    height: 15vh;
  }
  &__nav {
    margin: 1rem auto;

    &--logo {
      text-decoration: none;
      @include logo;
      @include mobile-padding;
      @include tablet {
        @include tablet-padding;
        @include desktop {
          padding-left: 8rem;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  &__primary-nav {
    display: flex;
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    &-list {
      list-style: none;
      display: flex;
      width: 100%;
      justify-content: space-around;
      color: white;

      @include tablet {
        align-items: center;
        justify-content: center;
        width: 14%;
        display: flex;
        height: 6.18rem;
        padding-bottom: 0rem;
        border-bottom: 0rem;
      }

      &--anchor {
        text-align: center;
        width: 100%;
        text-decoration: none;
        @include mob-body-font(white);
        padding-bottom: 1rem;
        @include tablet {
          width: auto;
          padding-top: 2.4rem;
          padding-bottom: 2.4rem;
        }
        @include desktop {
          padding-top: 2.8rem;
          padding-bottom: 2.8rem;
        }
      }
      :hover {
        color: pink;
      }
      &--current {
        border-bottom: 0.2rem solid #ffffff;
      }
    }
  }
}

.bees-knees {
  width: 100%;
  height: 18rem;
  background: linear-gradient(
      rgba($primary-color1, 0.5),
      rgba($primary-color1, 0.5)
    ),
    url("./assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;

  @include tablet {
    height: 26rem;
    // margin-bottom: 1.5rem;
  }
  @include desktop {
    height: 85vh;
  }
  &__header {
    @include mobile-padding;
    @include tablet {
      width: 100%;
      @include tablet-padding;
    }
    @include desktop {
      padding-left: 8rem;
    }
    &--heading {
      width: 100%;
      @include mob-page-header-font(white);
      @include tablet {
        @include tab-page-header-font(white);
        font-family: "avenir-demi";
      }
    }
  }
}

.musicians {
  &__header {
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      // padding-bottom: 0;
      // padding-top: 0;
    }
    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
      padding-bottom: 0;
      padding-top: 3.25rem;
    }
    &--heading {
      @include mob-page-header-font(#323232);
      @include tablet {
        @include tab-page-header-font(#323232);
        font-family: "avenir-demi";
        margin: 0;
      }
    }
  }
  &__img {
    @include mobile-padding;
    padding-bottom: 0;
    padding-top: 0;
    @include tablet {
      @include tablet-padding;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 1rem;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 13rem;
      padding-top: 3.25rem;
    }
    &--size {
      width: 100%;
      height: 13rem;
      @include tablet {
        width: 100%;
        height: 26rem;
      }
    }
  }
  &__text {
    flex-wrap: wrap;
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 24rem;
      padding-bottom: 3rem;
    }

    &--para1 {
      margin-bottom: 0;
      margin-top: 0;
      @include mob-body-font(#323232);
      line-height: 1.7rem;
      font-weight: bold;
      @include tablet {
        @include tab-body-font(#323232);
        font-size: 1.6rem;
        line-height: 1.7;
        font-weight: bold;
      }
    }
    &--para2 {
      margin-bottom: 0;
      margin-top: 0;
      @include mob-body-font(#323232);
      line-height: 1.7rem;
      font-weight: bold;
      @include tablet {
        @include tab-body-font(#323232);
        font-size: 1.3rem;
        line-height: 1.7;
        font-weight: bold;
      }
    }
  }
  &__desc {
    @include tablet {
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 2rem;
      padding-bottom: 0;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 13rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    &-header {
      @include mobile-padding;
      padding-top: 0;
      padding-bottom: 0;
      &--heading {
        @include mob-sub-header-font(#323232);
        margin-top: 0;
        margin-bottom: 0;
        @include tablet {
          @include tab-sub-header-font(#323232);
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &-para {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include mobile-padding;

      @include tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &--text {
        @include mob-body-font(#323232);
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;
        @include tablet {
          @include tab-body-font(#323232);
        }
      }
    }
  }
}
.photo-gallery {
  background-color: #e1e1e1;
  @include mobile-padding;
  @include tablet {
    @include tablet-padding;
  }
  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__header {
    &--heading {
      font-family: "avenir-regular";
      @include mob-page-header-font(#323232);
      @include tablet {
        @include tab-page-header-font(#323232);
        font-family: "avenir-demi";
      }
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--size {
      filter: grayscale(1);
      width: 100%;
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 2rem;
        width: 30%;
      }
    }
    :hover {
      filter: grayscale(0);
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #323232;
  @include tablet {

    @include tablet-padding;
  }
  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__top {
    @include tablet {
      height: 5.75rem;
      display: flex;
      flex-direction: row;
    }
  }
  &__header {

    @include tablet {

      padding-top: 0;
      padding-bottom: 0;
    }
    &--heading {
      width: 22.5rem;
      @include mobile-padding;
      @include mob-page-header-font(white);
      padding-bottom: 0;
      @include tablet {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        @include tab-page-header-font(white);
        font-family: "avenir-demi";
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &__img {

    @include mobile-padding;
    @include tablet {
      display: flex;
    justify-content: space-around;
      padding: 0;

    }
    &--size {
      width: 2rem;
      height: 2rem;
      margin: auto 1rem;
      @include desktop {
        margin: auto 1rem;
      }
    }
  }
  &-logo1__header {
    display: none;
    visibility: none;
    @include logo;

    @include tablet {
      display: flex;
      flex-direction: row;
      font-family: "avenir-regular";
      padding: 0;
      width: 11rem;
      margin-left: auto;
      margin-right: 0;

    }
    @include desktop {
      margin-left: auto;
      margin-right: 0;
    }

  }
  &__div {
    display: flex;
    flex-direction: column;
    height: 35rem;
    @include mobile-padding;
    @include tablet {
      padding-left: 0;
      height: 8rem;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
    @include desktop {
      height: 8rem;
      width: 60%;
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      @include tablet {
        width: 29%;
        margin: 0;
      }
      @include desktop {
        width: 26%;
      }
      &--para {
        margin: 0;
        @include mob-footer-body-font($color: white);
        line-height: 1.3rem;
        @include tablet {
          @include tab-footer-body-font($color: white);
        }
      }
      &--link {
        text-decoration: none;
      }
    }
  }
  &-logo2__header {
    background-color: #323232;
    @include logo;
    @include mobile-padding;
    padding-bottom: 0;
    @include tablet {
      padding-left: 0;
      display: none;
      visibility: hidden;
    }
    @include desktop {
      right: 11.25rem;
    }
  }
  &-logo2__header {
    background-color: #323232;
    @include logo;
    @include mobile-padding;
    padding-bottom: 0;
    @include tablet {
      padding-left: 0;
    }
  }
  &-logo2__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include tablet {
    }
    &--para {
      @include mobile-padding;
      @include mob-footer-body-font(white);
      padding-top: 0;
      margin: 0;
      @include tablet {
        padding: 0;
        @include tab-footer-body-font($color: white);
      }
    }
  }
}
