@use "./styles/partials/normalize" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @include desktop {
    height: 15vh;
  }
  &__page {
    &--logo {
      @include logo;
      margin: auto;
      @include mobile-padding;
      @include tablet {
        @include tablet-padding;
        @include desktop {
          padding-left: 8rem;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  &__sub {
    display: flex;
    justify-content: space-around;
    @include tablet {
      justify-content: space-around;
    }
    &--heading {
      @include mob-sub-header-font(white);
      display: inline;
      @include tablet {
        @include tab-body-font(white);
        padding: 1rem;
      }
    }
  }
}

.bees-knees {
  width: 100%;
  height: 18rem;
  background-image: url("./assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  @include tablet {
    height: 26rem;
    margin-bottom: 1.5rem;
  }
  @include desktop {
    height: 85vh;
  }
  &__header {
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
    }
    @include desktop {
      padding-left: 8rem;
    }
    &--heading {
      width: 100%;
      @include mob-page-header-font(white);
      @include tablet {
        @include tab-page-header-font(white);
      }
    }
  }
}

.musicians {
  &__header {
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding-bottom: 0;
      padding-top: 0;
    }
    @include desktop {
      padding-left: 8rem;
      padding-right: 8rem;
      padding-bottom: 0;
      padding-top: 3.25rem;
    }
    &--heading {
      @include mob-section-header-font(#323232);
      @include tablet {
        @include tab-section-header-font(#323232);
        margin: 0;
      }
    }
  }
  &__img {
    @include mobile-padding;
    padding-bottom: 0;
    padding-top: 0;
    @include tablet {
      @include tablet-padding;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 1rem;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 13rem;
      padding-top: 3.25rem;
    }
    &--size {
      width: 100%;
      height: 13rem;
      @include tablet {
        width: 100%;
        height: 26rem;
      }
    }
  }
  &__text {
    flex-wrap: wrap;
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 13rem;
      padding-bottom: 3rem;
    }

    &--para {
      margin-bottom: 0;
      margin-top: 0;
      @include mob-body-font(#323232);
      line-height: 1.7rem;
      font-weight: bold;
      @include tablet {
        @include tab-body-font(#323232);
      }
    }
  }
  &__desc{
    @include tablet {
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      padding-top: 2rem;
      padding-bottom: 0;
    }
    @include desktop {
      padding-left: 13rem;
      padding-right: 13rem;
      padding-top: 0;
      padding-bottom: 0;
    }
    &-header {
    @include mobile-padding;
    padding-top: 0;
    padding-bottom: 0;
    &--heading {
      @include mob-sub-header-font(#323232);
      margin-top: 0;
      margin-bottom: 0;
      @include tablet {
        @include tab-sub-header-font(#323232);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile-padding;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--text {
      @include mob-body-font(#323232);
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 0;
      @include tablet {
         @include tab-body-font(#323232);
      }


    }
  }
}
}
.photo-gallery {

  background-color: #e1e1e1;
  @include mobile-padding;
  @include tablet {
    @include tablet-padding;
  }
  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__header {

    &--heading {
      @include mob-page-header-font(#323232);
      @include tablet {
        @include tab-page-header-font(#323232);
      }
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--size {
      width: 100%;
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 2rem;
        width: 30%;
      }
    }
  }
}

.contact {
  background-color: #323232;
  @include tablet {
    @include tablet-padding;
    position: relative;
  }
  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__header {
    @include tablet {
      display: inline-block;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--heading {
      @include mobile-padding;
      @include mob-page-header-font(white);
      @include tablet {
        // @include tablet-padding;
        @include tab-sub-header-font(white);
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &__img {
    display: flex;

    @include mobile-padding;
    @include tablet {
      display: inline-block;
      // @include tablet-padding;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--size {
      width: 2rem;
      height: 2rem;
      margin-right: 1rem;
    }
  }
  &__div {
    display: flex;
    flex-direction: column;
    height: 35rem;
    @include mobile-padding;
    @include tablet {
      height:8rem;
      // width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
    @include desktop {
      height:8rem;
      width: 60%;
    }
    &-text {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      @include tablet {
        width: 30%;
        margin: 0;
      }
      @include desktop {
        width: 26%;
      }
      &--para {
        margin: 0;
        @include mob-footer-body-font($color: white);
        line-height: 1.3rem;
        @include tablet {
          @include tab-footer-body-font($color: white);
        }
      }
    }
  }

  &-footer {
    background-color: #323232;
    &__header {
      @include logo;
      @include mobile-padding;
      padding-bottom: 0;
      @include tablet {
        // @include tablet-padding;
        position: absolute;
        right: 5.25rem;
        top: 1.3rem;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }
      @include desktop {
        right: 11.25rem;
      }
    }
    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      &--para {
        width: 100%;
        @include mobile-padding;
        @include mob-footer-body-font(white);
        padding-top: 0;
        margin: 0;
        @include tablet {
          // @include tablet-padding;
          @include tab-footer-body-font($color: white);
        }
      }
    }
  }
}
