@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@font-face {
  font-family: 'avenir-bold';
  src: url('../assets/font/AvenirNextLTPro-Bold.otf') format("otf");
}

@font-face {
  font-family: 'avenir-regular';
  src: url('../../assets/font/AvenirNextLTPro-Regular.otf') format("otf");
}

@font-face {
  font-family: 'avenir-demi';
  src: url('../../assets/font/AvenirNextLTPro-Demi.otf') format("otf");
}

@mixin logo{
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: white;
  background-color: #323232;
  width: 7.5rem;
  text-transform: uppercase;
}

@mixin page-header-font($color:white){
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: $color;
}

@mixin section-header-font($color:white){
  font-family: "avenir-bold";
  font-weight: bold;
  font-size: 1.375rem;
  line-height: .875rem;
  color: $color;
}

@mixin sub-header-font($color:white){
  font-family: "avenir-demi";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.375rem;
  color: $color;
}


@mixin body-font($color:white){
  font-family: "avenir-regular";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: .875rem;
  color: $color;
}

@mixin footer-body-font($color:white){
  font-family: "avenir-regular";
  font-weight: normal;
  font-size: .8125rem;
  line-height: 1.125rem;
  color: $color;
}