@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

.header {
  background-color: $primary-color2;
  @include display(flex, column);
  @include tablet {
    @include display(flex, row);
    align-items: center;
  }
  @include desktop {
    height: 15vh;
  }
  &__nav {
    margin: 1rem auto;

    &--logo {
      text-decoration: none;
      @include logo;
      @include mobile-padding;
      font-weight: normal;
      @include tablet {
        @include tablet-padding;
        @include desktop {
          padding: 3rem 0 0 8rem;
        }
      }
    }
  }

  &__primary-nav {
    @include display(flex, row);
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    &-list {
      list-style: none;
      @include display(flex, row);
      width: 100%;
      justify-content: space-around;
      color: $primary-color4;
      @include tablet {
        align-items: center;
        justify-content: center;
        width: 14%;
        @include display(flex, row);
        height: 6.18rem;
        padding-bottom: 0rem;
        border-bottom: 0rem;
      }

      &--anchor {
        text-align: center;
        width: 100%;
        text-decoration: none;
        @include mob-body-font($primary-color4);
        padding-bottom: 1rem;
        @include tablet {
          width: auto;
          padding: 2.55rem 0 2.55rem 0;
        }
        @include desktop {
          padding: 3rem 0 3rem 0;
        }
      }
      :hover {
        font-weight: 700;
        color: $primary-color3;
      }
      &--current {
        font-weight: 700;
        color: $primary-color3;
        border-bottom: 0.2rem solid $primary-color3;
      }
    }
  }
}

.bees-knees {
  width: 100%;
  height: 19rem;
  background: linear-gradient(
      rgba($primary-color1, 0.5),
      rgba($primary-color1, 0.5)
    ),
    url("./assets/images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  @include display(flex, row);
  align-items: center;

  @include tablet {
    height: 26rem;
  }
  @include desktop {
    height: 85vh;
  }
  &__header {
    @include mobile-padding;
    @include tablet {
      width: 100%;
      @include tablet-padding;
    }
    @include desktop {
      padding-left: 8rem;
    }
    &--heading {
      width: 100%;
      @include mob-page-header-font($primary-color3);
      @include tablet {
        @include tab-page-header-font($primary-color3);
      }
    }
  }
}

.musicians {
  &__header {
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
    }
    @include desktop {
      padding: 3.25rem 8rem 0 8rem;
    }
    &--heading {
      @include mob-page-header-font($primary-color2);
      font-weight: normal;
      @include tablet {
        @include tab-page-header-font($primary-color2);
        font-family: "avenir-demi";
        margin: 0;
      }
    }
  }
  &__img {
    @include mobile-padding;
    padding: 0 1rem 0 1rem;

    @include tablet {
      @include tablet-padding;
      padding: 1rem 4.25rem 0 4.25rem;
    }
    @include desktop {
      padding: 3.25rem 13rem 0 13rem;
    }
    &--size {
      width: 100%;
      height: 13rem;
      @include tablet {
        width: 100%;
        height: 35rem;
      }
    }
  }
  &__text {
    flex-wrap: wrap;
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding: 1.5rem 4.25rem 1rem 4.25rem;
    }
    @include desktop {
      padding: 1.5rem 24rem 3rem 13rem;
    }

    &--para1 {
      margin-bottom: 0;
      margin-top: 0;
      @include mob-body-font($primary-color2);
      line-height: 1.7rem;
      font-weight: 700;
      @include tablet {
        @include tab-body-font($primary-color2);
        font-size: 1.6rem;
        line-height: 3rem;
        font-weight: 700;
      }
    }
    &--para2 {
      margin-bottom: 0;
      margin-top: 0;
      @include mob-body-font($primary-color2);
      line-height: 1.7rem;
      font-weight: bold;
      @include tablet {
        @include tab-body-font($primary-color2);
        font-size: 1.3rem;
        line-height: 1.7;
        font-weight: bold;
      }
    }
  }
  &__desc {
    @include tablet {
      padding: 2rem 4.25rem 0 4.25rem;
    }
    @include desktop {
      padding: 0 13rem;
    }
    &-header {
      @include mobile-padding;
      @include tablet {
        padding: 0;
      }
      &--heading {
        @include mob-sub-header-font($primary-color1);
        margin-top: 0;
        margin-bottom: 0;
        @include tablet {
          @include tab-sub-header-font($primary-color1);
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    &-para {
      @include display(flex, column);
      align-items: center;
      @include mobile-padding;
      @include tablet {
        @include display(flex, row);
        padding: 3rem 0 2.25rem 0;
        align-items: center;
      }

      &--text {
        @include mob-body-font($primary-color2);
        line-height: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 1rem;
        @include tablet {
          @include tab-body-font($primary-color2);
          padding-right: 1rem;
        }
      }
    }
  }
}
.photo-gallery {
  background-color: $primary-color5;
  @include mobile-padding;
  @include tablet {
    @include tablet-padding;
  }
  @include desktop {
    padding: 3rem 8rem 2.25rem 8rem;
  }
  &__header {
    &--heading {
      @include mob-page-header-font($primary-color2);
      font-family: "avenir-demi";
      @include tablet {
        @include tab-page-header-font($primary-color2);
        font-family: "avenir-demi";
      }
    }
  }
  &__img {
    @include display(flex, column);
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      @include display(flex, row);
      justify-content: space-between;
    }
    &--size {
      filter: grayscale(1);
      width: 100%;
      margin-bottom: 1rem;
      @include tablet {
        margin-bottom: 2rem;
        width: 30%;
      }
    }
    :hover {
      filter: grayscale(0);
    }
  }
}

.conversation {
  @include display(flex, column);

  &__bottom {
    @include mobile-padding;
    @include display(flex, row);
    @include tablet {
      @include tablet-padding;
      // padding-top: 0;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
      border-bottom: 1px solid $primary-color2;
    }
  }
  &__heading {
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding-top: 0;
      padding-bottom: 0;
    }
    &--text {
      @include mob-page-header-font($primary-color2);
      font-family: "avenir-demi";
      @include tablet {
        @include tab-page-header-font($primary-color2);
        font-family: "avenir-demi";
        // margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &__left {
    @include mobile-padding;
    width: 10%;
    @include tablet {
      // @include tablet-padding;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    &-img {
      // @include mobile-padding;
      // @include tablet {
      //   // @include tablet-padding;
      //   padding-top: 0;
      //   padding-left: 0;
      //   padding-right: 0;
      // }
      &--mohan {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }
    }
  }
  &__right {
    width: 90%;
    @include mobile-padding;
    @include tablet {
      @include tablet-padding;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__form {
    width: 100%;
    @include mobile-padding;
    // padding-top: 0;
    @include display(flex, column);
    @include tablet {
      @include tablet-padding;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0
    }
    &--button {
      @include mobile-padding;
width:24%;
      background-color: $primary-color2;
      @include mob-body-font($primary-color3);
      margin-top: 2rem;
      border: none;
      border-radius: 1rem;
     margin-left: auto;
    }
  }

  &__user {
    @include mobile-padding;
    // width: 100%;
    @include display(flex, column);

    @include tablet {
      @include tablet-padding;
      padding-top: 0;
      padding-left: 4.25rem;
      padding-right: 4.25rem;
    }
    &-right {
      width: 100%;
      @include display(flex, row);
      list-style: none;
      border-bottom: 1px solid $primary-color2;
      @include mobile-padding;
      @include tablet{
        @include tablet-padding;
          padding-left: 0;
          padding-right: 0;
          // padding-top: 0;
        }
      &-comment-name-date {
        width: 100%;
        // @include mobile-padding;

      }
      &-name-date {
        width: 100%;
        @include display(flex, row);
        justify-content: space-between;
        padding-top: 0;
      }
      // @include display(flex, row);
      // list-style: none;

      &-image-display {
        width: 10%;
        @include mobile-padding;
        @include tablet {
          @include tablet-padding;
          padding-left: 0;
          padding-right: 0;
          padding-top: 0;
        }
        &--inside {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
      }
    }
  }
}

#converstion {
  &_name {
    @include mob-body-font($primary-color2);
    @include mobile-padding;
    padding-left: 0;
  }
  &_comment {
    @include mob-body-font($primary-color2);
    @include mobile-padding;
    padding-left: 0;
  }
}

.footer {
  @include display(flex, column);
  background-color: $primary-color2;
  @include tablet {
    @include tablet-padding;
  }
  @include desktop {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  &__top {
    @include tablet {
      height: 5.75rem;
      @include display(flex, row);
    }
  }
  &__header {
    @include tablet {
      padding-top: 0;
      padding-bottom: 0;
    }
    &--heading {
      width: 22.5rem;
      @include mobile-padding;
      @include mob-page-header-font($primary-color3);
      padding-bottom: 0;
      @include tablet {
        padding: 1.5rem 0 0 0;
        @include tab-page-header-font($primary-color3);
        font-family: "avenir-demi";
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &__img {
    @include mobile-padding;
    @include tablet {
      @include display(flex, row);
      justify-content: space-around;
      padding: 0;
    }
    &--size {
      width: 2rem;
      height: 2rem;
      margin: auto 1rem 0 auto;
      @include tablet {
        margin: auto 1rem;
      }
    }
  }
  &-logo1__header {
    display: none;
    visibility: none;
    &--heading {
      @include logo;
      text-decoration: none;
      font-weight: normal;
    }

    @include tablet {
      @include display(flex, row);
      font-family: "avenir-regular";
      padding: 0;
      margin: auto 0 auto auto;
    }
    @include desktop {
      margin: auto 0 auto auto;
    }
  }
  &__div {
    @include display(flex, column);
    height: 35rem;
    @include mobile-padding;
    @include tablet {
      padding-left: 0;
      height: 8rem;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }
    @include desktop {
      width: 60%;
    }
    &-text {
      @include display(flex, column);
      margin-bottom: 2rem;
      @include tablet {
        width: 29%;
        margin: 0;
      }
      @include desktop {
        width: 26%;
      }
      &--para {
        margin: 0;
        @include mob-footer-body-font($primary-color3);
        font-weight: 700;
        line-height: 1.3rem;
        @include tablet {
          @include tab-footer-body-font($primary-color3);
        }
      }
      &--link {
        text-decoration: none;
      }
    }
  }
  &-logo2__header {
    background-color: $primary-color2;

    @include mobile-padding;
    padding-bottom: 0;
    &--heading {
      @include logo;
      text-decoration: none;
      font-weight: normal;
    }
    @include tablet {
      padding-left: 0;
      display: none;
      visibility: hidden;
    }
  }

  &-logo2__text {
    @include display(flex, column);
    &--para {
      @include mobile-padding;
      @include mob-footer-body-font($primary-color3);
      font-weight: 700;
      padding-top: 0;
      @include tablet {
        padding: 0;
        @include tab-footer-body-font($primary-color3);
      }
    }
  }
}
