@use "./partials/normalize" as *;
@use "./partials/variables" as *;
@use "./partials/typography" as *;
@use "./partials/mixins" as *;

// body{
//   font-family: "avenir-bold";
// }
.header {
  background-color: $primary-color2;
  @include display(flex, column);
  @include tablet {
    @include display(flex, row);
    align-items: center;
  }
  @include desktop {
    height: 15vh;
  }
  &__nav {
    margin: 1rem auto;

    &--logo {
      text-decoration: none;
      @include logo;
      @include mobile-padding;
      font-weight: normal;
      @include tablet {
        @include tablet-padding;
        @include desktop {
          padding: 3rem 0 0 8rem;
        }
      }
    }
  }

  &__primary-nav {
    @include display(flex, row);
    width: 100%;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    &-list {
      list-style: none;
      @include display(flex, row);
      width: 100%;
      justify-content: space-around;
      color: $primary-color4;
      @include tablet {
        align-items: center;
        justify-content: center;
        width: 14%;
        @include display(flex, row);
        height: 6.18rem;
        padding-bottom: 0rem;
        border-bottom: 0rem;
      }

      &--anchor {
        text-align: center;
        width: 100%;
        text-decoration: none;
        @include mob-body-font($primary-color4);
        padding-bottom: 1rem;
        @include tablet {
          width: auto;
          padding: 2.55rem 0 2.55rem 0;
        }
        @include desktop {
          padding: 3rem 0 3rem 0;
        }
      }
      :hover {
        font-weight: 700;
        color: $primary-color3;
      }
      &--current {
        font-weight: 700;
        color: $primary-color3;
        border-bottom: 0.2rem solid $primary-color3;
      }
    }
  }
}

.beautiful-beast {
  width: 100%;
  height: 30rem;
  background: linear-gradient(
      rgba($primary-color1, 0.5),
      rgba($primary-color1, 0.5)
    ),
    url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-size: cover;
  @include display(flex, column);
  align-items: flex-start;

  @include tablet {
    height: 85vh;
  }
  @include desktop {
    justify-content: center;
    align-items: center;
    @include display(flex, row);
    height: 85vh;
  }
  &__header {
    height: 50%;
    @include display(flex, column);
    @include mobile-padding;
    @include tablet {
      // width: 90%;
      height: 50%;
      @include tablet-padding;
      // padding-top: 0;
    }
    @include desktop {
      width: 40rem;
      padding-left: 8rem;
    }
    &-1 {
      &--heading-line-1 {
        // width: 100%;
        @include mob-page-header-font($primary-color3);
        font-size: 1.5rem;
        @include tablet {
          @include tab-page-header-font($primary-color3);
          margin-top: 0;
          // margin-bottom: 0;
          font-size: 2.5rem;
        }
        @include desktop {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 1.5rem;
        }
      }
    }
    &-2 {
      &--heading-line-2 {
        // width: 100%;
        @include mob-page-header-font($primary-color3);
        font-size: 2.5rem;
        @include tablet {
          @include tab-page-header-font($primary-color3);
          margin-top: 0;
          // margin-bottom: 0;
          font-size: 4.5rem;
        }
        @include desktop {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 3rem;
        }
      }
    }
  }
  &__song {
    height: 50%;
    width: 95%;
    @include mobile-padding;
    @include tablet {
      width: 40%;
      @include tablet-padding;
      padding-top: 0;
    }
    @include desktop {
      @include tablet-padding;
      padding-left: 8rem;
      padding-right: 8rem;
    }
    &--i-frame {
      height: 80%;
      padding-top: 0;
      border-radius: 0.5rem;
      @include desktop {
        @include tablet-padding;
        padding-left: 0;
        padding-bottom: 0;
        height: 50%;
        width: 75%;
      }
    }
  }
}

.concert {
  @include display(flex, column);
  // @include mobile-padding;
  padding-right: 1rem;
  padding-left: 1rem;
  @include desktop {
    @include display(flex, row);
  }
  &__left {
    @include desktop {
      width: 30%;
    }
  }
  &-heading {
    @include mobile-padding;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top:0;
    @include tablet {
    @include tablet-padding;
    }

    &__text {
      @include mob-page-header-font($primary-color1);
      @include tablet {
        @include tab-page-header-font($primary-color1);
        font-family: "avenir-demi";
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  &__right {
    @include desktop {
      width: 70%;
    }
  }
  &__table {
    display: none;
    @include tablet {
      @include display(flex, row);
      @include tablet-padding;
      padding-top: 0;
      padding-bottom: 0;
      justify-content: space-between;
      @include desktop {
        @include tablet-padding;
      }
      &-list {
        @include tablet {
        @include tab-body-font($primary-color6);
        font-family: "avenir-demi";
        width: 20%;
        }
      }
      //hidden element for proper spacing in column heading
      &-hidden {
        visibility: hidden;
      }
    }
  }

  &-detail {
    border-bottom: 1px solid $primary-color4;
    padding-bottom: 2rem;
    @include tablet {
      @include tablet-padding;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      @include display(flex, row);
      justify-content: space-between;
      align-items: center;
    }
    &__text {
      @include mob-body-font($primary-color6);
      font-family: "avenir-demi";
      @include tablet {
        display: none;
      }
    }
    &__date {
      @include mob-body-font($primary-color2);
      font-family: "avenir-demi";

    }
    &__venue {
      @include mob-body-font($primary-color1);

    }
    &__location {
      @include mob-body-font($primary-color1);
    }
    &__button {
      width: 100%;
      @include mobile-padding;
      background-color: $primary-color2;
      border: none;
      border-radius: 0.3125rem;
      @include mob-body-font($primary-color3);
      font-family: "avenir-demi";
      @include tablet {
        @include tab-body-font($primary-color3);
        width: 22%;
      }
    }
  }
}


